/* Projects Styles */
* {
    box-sizing: border-box;
}

body {
    position: relative;
    top: 100px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

p {
    text-align: left !important;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 5vw;
    margin: 60px;
}

.project h2 {
    font-size: 3vw;
    grid-column: 1;
}

.project p {
    display: none;
    font-size: 2rem;
    grid-column: 1;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--second-bg-color);
    padding: 3rem;
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 15px rgba(234, 88, 14, 0.2);
}

.project-content:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(234, 88, 14, 0.4);
}

[class^="project-num"] {
    display: grid;
    position: relative;
    width: 100%;
    margin: 100px 50px;
    grid-template-columns: 1fr 1fr;
}

.project-preview {
    position: absolute;
    left: 42vw;
    z-index: 5;
    width: 25vw;

}

.project-image {
    display: none;
    grid-column: 2;
    width: 100%;
    gap: 20px;
    background-color: var(--second-bg-color);
    padding: 2rem;
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 15px rgba(234, 88, 14, 0.2);
}

.tech-used {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tech-tag {
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 1vw;
    grid-column: 1;
}

/* Mobile Responsiveness */

@media screen and (max-width: 768px) {

    h1{
        font-size: 8vw;
    }

    .project h2 {
        font-size: 5vw;
    }

    .container {
        max-width: 100%;
    }

    [class^="project-num"] {
        width: 85%;
        grid-template-columns: 2fr;
    }

    .project-preview {
        position: absolute;
        top: 70%;
        z-index: 5;
        width: 25vw;
    }

    .tech-tag {
        padding: 2px 6px;
        font-size: 3vw;
    }

}