* {
    box-sizing: border-box;
}

body {
    position: relative;
    top: 100px;
    padding: 60px 40px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 5vw;
    margin: 30px 3px;
}

.project h2{
    font-size: 3vw;
    grid-column: 1;
}

.project p{
    font-size: 2rem;
    grid-column: 1;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project1, .project2, .project3 {
    display: grid;
    position: relative;
    width: 100%;
    margin: 100px 50px;
    grid-template-columns: 1fr 1fr;
   
}

.project-preview {
    position: relative;
}

.project-image {
    display: none;
    grid-column: 2;

}

.tech-used {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tech-tag {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1vw;
    grid-column: 1;
}