* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
  --bg-color: #080800;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580e;
}

html{
  font-size: 60%;
  overflow-x: hidden;
}